{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    <a href="{% url 'order_list' %}" class="btn btn-secondary">📦 История заказов</a>

    <h2>Редактирование профиля</h2>

    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-success">{{ message }}</div>
        {% endfor %}
    {% endif %}

    <form method="post">
        {% csrf_token %}

        <label>ФИО:</label>
        <input type="text" name="full_name" class="form-control mb-3" value="{{ profile.full_name }}" required>

	<label>Номер телефона:</label>
	<input type="text" name="phone" class="form-control mb-3" value="{{ profile.phone }}" 
               pattern="^(\+7|8)\d{10}$" 
	       title="Номер телефона должен быть в формате +7XXXXXXXXXX" 
	       required
	       oninput="validatePhone(this)">

        <label>Email:</label>
        <input type="email" name="email" class="form-control mb-3" value="{{ user.email }}">

        <label>Адрес доставки:</label>
        <textarea name="address" class="form-control mb-3" required>{{ profile.address }}</textarea>

        <label>Telegram ID (опционально):</label>
        <input type="text" name="telegram_id" class="form-control mb-3" value="{{ profile.telegram_id }}">

        <button type="submit" class="btn btn-success">Сохранить</button>
    </form>

    <p class="mt-3">
        ❓ Чтобы получать уведомления о состоянии заказов в Telegram, привяжите свой Id к профилю. Для этого отправьте команду <b>/start</b> нашему <a href="https://t.me/flowershop_delivery_bot" target="_blank">боту</a> и нажмите кнопку <b>Отправить номер</b>.
    </p>
</div>
<script>
function validatePhone(input) {
    const phonePattern = /^\+7\d{10}$/;
    if (!phonePattern.test(input.value)) {
        input.setCustomValidity("Номер телефона должен быть в формате +7XXXXXXXXXX");
    } else {
        input.setCustomValidity("");
    }
}
</script>
{% endblock %}
